<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmo Apžvalgos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Navigacija -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'movie_list' %}">🎬 Filmo Apžvalgos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">👤 {{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_reviews' %}">Mano Apžvalgos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Atsijungti</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Prisijungti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}?next={{ request.path }}">Registruotis</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_list' %}">Filmai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews' %}">Apžvalgos</a>
                </li>
            </ul>
            <form class="d-flex ms-auto" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Ieškoti filmų" name="search_text">
                <button class="btn btn-outline-success" type="submit">🔍 Ieškoti</button>
            </form>
        </div>
    </div>
</nav>

{% for message in messages %}
<div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-success {% endif %}" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>