{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Naujausios Apžvalgos</h2>
    {% if reviews %}
        <ul class="list-group">
            {% for review in reviews %}
                <li class="list-group-item">
                    <h5><a href="{% url 'movie_detail' review.movie.id %}">{{ review.movie.title }}</a></h5>
                    <p>Autorius: {{ review.user.username }}</p>
                    <p>Įvertinimas: {{ review.rating }}/5 ⭐</p>
                    <p>{{ review.content }}</p>
                    <small>Paskelbta: {{ review.created_at }}</small>
                    <p>Komentaras: {{ review.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Kol kas nėra apžvalgų.</p>
    {% endif %}

</div>
{% endblock %}